.center {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.job-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.job img {
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.before {
  margin-right: 100px;
}

.bottom {
  margin-bottom: 30px;
}

.bold {
  font-size:20px;
  margin-top: 8px;
}

.pad {
  margin-top: 5px;
}

.contact {
  height: 70vh;
}

.contact-title {
  color: #20B2AA;
  font-size: 50px;
  margin-bottom: 5px;
  padding-right:0px;
}

.contact-container {
  padding-top: 40%;
}
